<div>
  <h1>Upload Images</h1>

  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Title:</label>
      <input type="text" formControlName="title" />
    </div>

    <div>
      <label>Title:</label>
      <input type="file" formControlName="image" />
    </div>

    <div>
      <label>Description:</label>
      <input type="text" formControlName="description" />
    </div>

    <div>
      <label>Price:</label>
      <input type="text" formControlName="price" />
    </div>

    <div formArrayName="keywords">
      <label>Keywords:</label>
      <div *ngFor="let keyword of keywords.controls; let i = index">
        <input type="text" [formControlName]="i" />
      </div>
      <button type="button" (click)="addKeyword()">Add Keyword</button>
    </div>

    <div>
      <label>Created On:</label>
      <input type="text" formControlName="createdOn" />
    </div>

    <div *ngIf="uploadForm.get('image')?.value">
      <label>Image Preview:</label>
      <img [src]="uploadForm.get('image')?.value" alt="Preview" />
    </div>

    <button type="submit">Finalize Upload</button>
  </form>
</div>
