<div class="image_layout bg-slate-50">
  <div class="image_icons">
    <div class="form-control">
      <label class="input-group">
        <span><fa-icon [icon]="faImage"></fa-icon></span>
        <input type="text" [formControl]="keywordFormControl" placeholder="Filter by Keyword"
          class="input input-bordered" />
        <span><fa-icon [icon]="faSearch"></fa-icon></span>
      </label>
    </div>
  </div>
  <div class="card_container">
    <div *ngFor="let item of images" class="card_image">
      <div class="image_container">
        <img [src]="item.image" alt="{{ item.title }}" class="image max-w-full max-h-full" />
        <button (click)="this.imagesService.deleteImage(item);" class="btn btn-ghost btn-icon-delete" *ngIf="!this.isHovered">
          <!-- Essa feature do this.isHovered está por ser melhorada -->
          <fa-icon [icon]='faTrash'></fa-icon>
        </button>
        <button class="btn btn-ghost btn-icon-download" *ngIf="!this.isHovered">
          <fa-icon [icon]='faDownload'></fa-icon>
        </button>
      </div>
      <div class="description_container">
        <span class="description">{{item.description}}</span>
        <div class="description_footer">
          <span class="text-[red]">{{item.title}}</span>
          <span>{{item.price}}€</span>
        </div>
      </div>
    </div>
  </div>
</div>