<div class="image_layout">
  <div class="image_header">
    <span>Listagem</span>
    <span>icone vermelho| Fazer Upload</span>
  </div>
  <div class="image_icons">
    <span>Icone de fotografia</span>
    <span>Icone de Botão para baixo</span>
    <input type="text" [formControl]="keywordFormControl" placeholder="Filter by Keyword" />
    <span>icone de procura</span>
  </div>
  <div class="card_container">
    <div *ngFor="let item of images" class="card_image">
      <div class="image_container">
        <img [src]="item.image" alt="{{ item.title }}" class=" image max-w-full max-h-full" />
        <button (click)="deleteImage(item)" class="btn btn-error">Delete</button>
      </div>
      <div class="description_container">
        <span class="description">{{item.description}}</span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>